.block {
    height: 100%;
    position: relative; 
    overflow: hidden; 
    &.left {
        float: left;
        width: 60%;
    }

    &.right {
        float: right;
        width: 40%; 
    }
}