.block {
    height: 100%;
    position: relative; 
    overflow: hidden; 
    &.left {
        float: left;
        width: 60%;
    }

    &.right {
        float: right;
        width: 40%; 
    }
}

.page-centred-wrapper {
    display: table;
    height: 100%;
    width: 100%;
}

.page-centred-container {
    display: table-cell;
    padding: 80px 50px;
    vertical-align: middle;
}

.page-centred-content {
    position: relative;
    z-index: 9
}